# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
*.pid
*.seed
*.pid.lock

# Dependency directories
frontend/node_modules/
api/node_modules/

# Build output
frontend/dist/
api/dist/

# TypeScript
*.tsbuildinfo

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
.env.*.local

# md file
readme2.md

# Optional: lockfiles（如果你不想提交 package-lock.json/yarn.lock/pnpm-lock.yaml）
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
